<div class="content">
	<h1>Job</h1>
	<p id="notice"><%= notice %></p>
	<div class="edit-table">
		<div class="edit-row">
			<div class="edit-cell">Description:</div>
			<div class="edit-cell"><%= @job.description %></div>
		</div>
		<div class="edit-row">
			<div class="edit-cell">Done:</div>
			<div class="edit-cell"><%= @job.done %></div>
		</div>
		<div class="edit-row">
			<div class="edit-cell">Item:</div>
			<div class="edit-cell"><%= @job.item.name %></div>
		</div>

		<div class="edit-row">
			<div class="edit-cell">
				<%= link_to 'Edit', edit_job_path(@job) %> |
				<%= link_to 'Back', jobs_path %>
			</div>
		</div>
	</div>
</div>
