<%= form_for(@item) do |f| %>

	<% if @item.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
			<ul>
				<% @item.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="edit-table">
		<div class="edit-row">
			<div class="edit-cell"><%= f.label :name %></div>
			<div class="edit-cell"><%= f.text_field :name %></div>
		</div>
		<div class="edit-row">
			<div class="edit-cell"><%= f.label :code %></div>
			<div class="edit-cell"><%= f.text_field :code %></div>
		</div>
		<%= f.fields_for :location do |l| %>
			<%= l.hidden_field :parent_id %>
			<div class="edit-row">
				<div class="edit-cell"><%= l.label :is_location %></div>
				<div class="edit-cell"><%= l.check_box :is_location %></div>
			</div>			
		<% end %>
		<div class="edit-row">
			<div class="edit-cell"><%= f.submit %></div>
		</div>			
	</div>

<% end %>